<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css">
    
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p class="text">Use this site to get your weather</p>

        <form>
            <input placeholder="Location">
            <button>Search</button>
        </form>

        <p class="text" id="message-1"></p>
        <p class="text" id="message-2"></p>
    </div>
    
    {{>footer}}
    <script src="/js/app.js"></script>
</body>

</html>     